In [1]:
import pandas as pd
import os
import math      
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt 
import time
import warnings 
import seaborn as sns 
warnings.filterwarnings('ignore')

In [7]:
# 读取数据
B_data=pd.read_csv("../../dataSet/B_data_time.csv")
B_data.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,DATE,JOBRESULT,USER LOTINFO,MACHINE,SIZE,CYCLE,JOB,BARCODE_INDEX,S_TIME,E.TIME
0,1:C2,98.832,106.662,92.660,0.005,0.000,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
1,1:C2,95.402,100.189,95.222,0.000,0.000,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
2,1:C10,103.047,111.748,92.214,-0.011,0.007,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
3,1:C10,105.500,117.418,89.850,0.000,0.007,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
4,1:C11,103.741,117.714,88.129,-0.008,-0.006,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20

基于激光三角法测量原理的锡膏检测仪

In [5]:
B_data.head()

,Component ID,PAD ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Barcode,Result,Panel,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1:C2,1,98.832,106.662,92.66,0.005,0,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1:C2,2,95.402,100.189,95.222,0,0,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1:C10,3,103.047,111.748,92.214,-0.011,0.007,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1:C10,4,105.5,117.418,89.85,0,0.007,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1:C11,5,103.741,117.714,88.129,-0.008,-0.006,NaN,GOOD,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
T_data=pd.read_csv("../../dataSet/T_data_time.csv")

In [8]:
T_data.head()

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,Image,DATE,JOBRESULT,ana1,ana2,MACHINE,SIZE,CYCLE,JOB,BARCODE_INDEX,S_TIME,E.TIME
0,1:C1,109.000,110.091,99.008,-0.002,0.005,GOOD,1.0,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
1,1:C1,104.116,116.925,89.045,-0.006,0.005,GOOD,1.0,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
2,1:C3,109.883,115.214,95.373,0.003,0.001,GOOD,1.0,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
3,1:C3,114.777,119.189,96.298,0.003,0.006,GOOD,1.0,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19
4,1:C4,114.009,115.141,99.017,-0.010,0.014,GOOD,1.0,14063 2021/8/10 14:15:13 14:15:19',2021/8/10,PASS,KohYoung,'',KOHYOUNG,T,6,GT30-V2.8-00-TOP-10,14063,14:15:13,14:15:19

In [21]:
len(B_data[["Component ID","Volume(%)","Height(um)","Result",
                "Panel","DATE","BARCODE_INDEX","JOBRESULT","S_TIME","E.TIME"]].groupby(["BARCODE_INDEX","S_TIME"
                                                                               ,"Panel","Component ID"]).agg("count")["Volume(%)"]!=2)

823620

In [20]:
B_data

,Component ID,Volume(%),Height(um),Area(%),OffsetX(mm),OffsetY(mm),Result,Panel,DATE,JOBRESULT,USER LOTINFO,MACHINE,SIZE,CYCLE,JOB,BARCODE_INDEX,S_TIME,E.TIME
0,1:C2,98.832,106.662,92.660,0.005,0.000,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
1,1:C2,95.402,100.189,95.222,0.000,0.000,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
2,1:C10,103.047,111.748,92.214,-0.011,0.007,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
3,1:C10,105.500,117.418,89.850,0.000,0.007,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
4,1:C11,103.741,117.714,88.129,-0.008,-0.006,GOOD,1,2021/8/10,PASS,KohYoung,KOHYOUNG,T,6,GT30-V2.8-00-BOT-10,13611,05:46:14,05:46:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6557875,1:VT3,113.166,110.799,102.136,-0.005,0.016,GOOD,10,2021/8/27,GOOD,KohYoung,KOHYOUNG,T,5,GT30-V2.8-00-BOT-10,44197,15:38:53,15:38:58
6557876,1:VT3,131.565,120.853,108.864,0.011,0.002,GOOD,10,2021/8/27,GOOD,KohYoung,KOHYOUNG,T,5,GT30-V2.8-00-BOT-10,44197,15:38:53,15:38:58
6557877,1:VT4,124.038,124.045,99.994,-0.015,0.008,GOOD,10,2021/8/27,GOOD,KohYoung,KOHYOUNG,T,5,GT30-V2.8-00-BOT-10,44197,15:38:53,15:38:58
6557878,1:VT4,92.592,88.401,104.741,-0.003,0.008,GOOD,10,2021/8/27,GOOD,KohYoung,KOHYOUNG,T,5,GT30-V2.8-00-BOT-10,44197,15:38:53,15:38:58
6557879,1:VT4,108.823,99.683,109.168,0.001,0.002,GOOD,10,2021/8/27,GOOD,KohYoung,KOHYOUNG,T,5,GT30-V2.8-00-BOT-10,44197,15:38:53,15:38:58