In [226]:
import pandas as pd
import os
import math      
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt 
import time
import warnings 
import seaborn as sns 
warnings.filterwarnings('ignore')

In [240]:
data = pd.read_csv("../../dataSet/qingxi.csv")

In [241]:
job = []
result = []
j = 1
t = 1
for i in data["JOBRESULT"]:
    job.append(j)
    j += 1
    result.append(t)
    if i ==" FAIL":
        job.append(j)
        result.append(t)
        t +=1
        j = 1
#     print(j)

In [229]:
result

[1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 7,
 ...]

In [242]:
pd.Series(job)

0        1
1        2
2        3
3        4
4        5
        ..
1563    28
1564    29
1565    30
1566    31
1567    32
Length: 1568, dtype: int64

In [243]:
data["time"] = pd.Series(job)
data["id"] = pd.Series(result)

In [244]:
data

,max0,max1,max2,max3,max4,max5,max6,max7,max8,max9,...,min8,min9,inx,new_sum,new_means,JOBRESULT,Da,S_TIME,time,id
0,140.698,139.023,138.796,136.473,134.409,134.101,133.923,133.238,133.073,132.859,...,133.073,132.859,13611,460326.650,109.082145,PASS,2021/8/10,05:46:14,1,1
1,140.705,139.696,138.822,138.251,137.455,136.911,136.445,136.280,136.110,134.977,...,136.110,134.977,13612,453542.329,107.474486,PASS,2021/8/10,05:46:38,2,1
2,132.849,130.807,130.631,130.534,130.497,129.378,129.040,128.435,127.951,127.862,...,127.951,127.862,13613,452823.397,107.304123,PASS,2021/8/10,05:46:56,3,1
3,161.276,141.266,138.993,137.279,137.145,136.274,135.875,135.141,134.444,134.173,...,134.444,134.173,13614,454109.897,107.608980,FAIL,2021/8/10,05:51:09,4,1
4,138.036,137.112,135.809,135.783,134.592,133.709,133.688,132.868,132.665,132.549,...,132.665,132.549,13615,468455.325,111.008371,PASS,2021/8/10,05:51:50,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,141.260,139.282,137.128,136.527,136.482,135.783,135.539,135.376,135.192,134.976,...,135.192,134.976,44193,482252.200,114.277773,GOOD,2021/8/27,15:37:04,14,15
1550,139.952,137.743,136.053,135.912,135.637,135.250,135.118,135.090,133.409,133.404,...,133.409,133.404,44194,474004.258,112.323284,GOOD,2021/8/27,15:37:19,15,15
1551,147.236,145.811,140.606,140.241,138.159,138.008,137.419,137.050,136.935,136.897,...,136.935,136.897,44195,476563.122,112.929650,GOOD,2021/8/27,15:37:42,16,15
1552,136.782,135.027,133.899,133.685,133.667,133.472,133.167,132.614,131.813,131.652,...,131.813,131.652,44196,462717.277,109.648644,GOOD,2021/8/27,15:38:03,17,15
1553,142.164,142.044,141.980,140.793,139.971,139.882,138.558,138.456,138.222,135.920,...,138.222,135.920,44197,475305.311,112.631590,GOOD,2021/8/27,15:38:53,18,15

In [245]:
data.drop("inx",axis=1,inplace=True)

In [246]:
data

,max0,max1,max2,max3,max4,max5,max6,max7,max8,max9,...,min7,min8,min9,new_sum,new_means,JOBRESULT,Da,S_TIME,time,id
0,140.698,139.023,138.796,136.473,134.409,134.101,133.923,133.238,133.073,132.859,...,133.238,133.073,132.859,460326.650,109.082145,PASS,2021/8/10,05:46:14,1,1
1,140.705,139.696,138.822,138.251,137.455,136.911,136.445,136.280,136.110,134.977,...,136.280,136.110,134.977,453542.329,107.474486,PASS,2021/8/10,05:46:38,2,1
2,132.849,130.807,130.631,130.534,130.497,129.378,129.040,128.435,127.951,127.862,...,128.435,127.951,127.862,452823.397,107.304123,PASS,2021/8/10,05:46:56,3,1
3,161.276,141.266,138.993,137.279,137.145,136.274,135.875,135.141,134.444,134.173,...,135.141,134.444,134.173,454109.897,107.608980,FAIL,2021/8/10,05:51:09,4,1
4,138.036,137.112,135.809,135.783,134.592,133.709,133.688,132.868,132.665,132.549,...,132.868,132.665,132.549,468455.325,111.008371,PASS,2021/8/10,05:51:50,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,141.260,139.282,137.128,136.527,136.482,135.783,135.539,135.376,135.192,134.976,...,135.376,135.192,134.976,482252.200,114.277773,GOOD,2021/8/27,15:37:04,14,15
1550,139.952,137.743,136.053,135.912,135.637,135.250,135.118,135.090,133.409,133.404,...,135.090,133.409,133.404,474004.258,112.323284,GOOD,2021/8/27,15:37:19,15,15
1551,147.236,145.811,140.606,140.241,138.159,138.008,137.419,137.050,136.935,136.897,...,137.050,136.935,136.897,476563.122,112.929650,GOOD,2021/8/27,15:37:42,16,15
1552,136.782,135.027,133.899,133.685,133.667,133.472,133.167,132.614,131.813,131.652,...,132.614,131.813,131.652,462717.277,109.648644,GOOD,2021/8/27,15:38:03,17,15
1553,142.164,142.044,141.980,140.793,139.971,139.882,138.558,138.456,138.222,135.920,...,138.456,138.222,135.920,475305.311,112.631590,GOOD,2021/8/27,15:38:53,18,15

In [247]:
data.drop("S_TIME",axis=1,inplace=True)

In [248]:
# Da 
data.drop("Da ",axis=1,inplace=True)

In [249]:
data

,max0,max1,max2,max3,max4,max5,max6,max7,max8,max9,...,min5,min6,min7,min8,min9,new_sum,new_means,JOBRESULT,time,id
0,140.698,139.023,138.796,136.473,134.409,134.101,133.923,133.238,133.073,132.859,...,134.101,133.923,133.238,133.073,132.859,460326.650,109.082145,PASS,1,1
1,140.705,139.696,138.822,138.251,137.455,136.911,136.445,136.280,136.110,134.977,...,136.911,136.445,136.280,136.110,134.977,453542.329,107.474486,PASS,2,1
2,132.849,130.807,130.631,130.534,130.497,129.378,129.040,128.435,127.951,127.862,...,129.378,129.040,128.435,127.951,127.862,452823.397,107.304123,PASS,3,1
3,161.276,141.266,138.993,137.279,137.145,136.274,135.875,135.141,134.444,134.173,...,136.274,135.875,135.141,134.444,134.173,454109.897,107.608980,FAIL,4,1
4,138.036,137.112,135.809,135.783,134.592,133.709,133.688,132.868,132.665,132.549,...,133.709,133.688,132.868,132.665,132.549,468455.325,111.008371,PASS,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,141.260,139.282,137.128,136.527,136.482,135.783,135.539,135.376,135.192,134.976,...,135.783,135.539,135.376,135.192,134.976,482252.200,114.277773,GOOD,14,15
1550,139.952,137.743,136.053,135.912,135.637,135.250,135.118,135.090,133.409,133.404,...,135.250,135.118,135.090,133.409,133.404,474004.258,112.323284,GOOD,15,15
1551,147.236,145.811,140.606,140.241,138.159,138.008,137.419,137.050,136.935,136.897,...,138.008,137.419,137.050,136.935,136.897,476563.122,112.929650,GOOD,16,15
1552,136.782,135.027,133.899,133.685,133.667,133.472,133.167,132.614,131.813,131.652,...,133.472,133.167,132.614,131.813,131.652,462717.277,109.648644,GOOD,17,15
1553,142.164,142.044,141.980,140.793,139.971,139.882,138.558,138.456,138.222,135.920,...,139.882,138.558,138.456,138.222,135.920,475305.311,112.631590,GOOD,18,15

In [250]:
data=data[[ 'id','time','max0', 'max1', 'max2', 'max3', 'max4', 'max5', 'max6', 'max7', 'max8',
       'max9', 'min0', 'min1', 'min2', 'min3', 'min4', 'min5', 'min6', 'min7',
       'min8', 'min9', 'new_sum', 'new_means']]

In [251]:
data.to_csv("data_B_table.txt", sep=' ',index=False, header=None)

In [252]:
data

,id,time,max0,max1,max2,max3,max4,max5,max6,max7,...,min2,min3,min4,min5,min6,min7,min8,min9,new_sum,new_means
0,1,1,140.698,139.023,138.796,136.473,134.409,134.101,133.923,133.238,...,138.796,136.473,134.409,134.101,133.923,133.238,133.073,132.859,460326.650,109.082145
1,1,2,140.705,139.696,138.822,138.251,137.455,136.911,136.445,136.280,...,138.822,138.251,137.455,136.911,136.445,136.280,136.110,134.977,453542.329,107.474486
2,1,3,132.849,130.807,130.631,130.534,130.497,129.378,129.040,128.435,...,130.631,130.534,130.497,129.378,129.040,128.435,127.951,127.862,452823.397,107.304123
3,1,4,161.276,141.266,138.993,137.279,137.145,136.274,135.875,135.141,...,138.993,137.279,137.145,136.274,135.875,135.141,134.444,134.173,454109.897,107.608980
4,1,5,138.036,137.112,135.809,135.783,134.592,133.709,133.688,132.868,...,135.809,135.783,134.592,133.709,133.688,132.868,132.665,132.549,468455.325,111.008371
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,15,14,141.260,139.282,137.128,136.527,136.482,135.783,135.539,135.376,...,137.128,136.527,136.482,135.783,135.539,135.376,135.192,134.976,482252.200,114.277773
1550,15,15,139.952,137.743,136.053,135.912,135.637,135.250,135.118,135.090,...,136.053,135.912,135.637,135.250,135.118,135.090,133.409,133.404,474004.258,112.323284
1551,15,16,147.236,145.811,140.606,140.241,138.159,138.008,137.419,137.050,...,140.606,140.241,138.159,138.008,137.419,137.050,136.935,136.897,476563.122,112.929650
1552,15,17,136.782,135.027,133.899,133.685,133.667,133.472,133.167,132.614,...,133.899,133.685,133.667,133.472,133.167,132.614,131.813,131.652,462717.277,109.648644
1553,15,18,142.164,142.044,141.980,140.793,139.971,139.882,138.558,138.456,...,141.980,140.793,139.971,139.882,138.558,138.456,138.222,135.920,475305.311,112.631590

In [307]:
data.columns

Index(['id', 'time', 'max0', 'max1', 'max2', 'max3', 'max4', 'max5', 'max6',
       'max7', 'max8', 'max9', 'min0', 'min1', 'min2', 'min3', 'min4', 'min5',
       'min6', 'min7', 'min8', 'min9', 'new_sum', 'new_means', 'JOBRESULT'],
      dtype='object')

### 使用数据拟合样本基于残差求解

In [255]:
data1 = pd.read_csv("../../dataSet/qingxi.csv")

In [256]:
data["JOBRESULT"] = data1["JOBRESULT"]

In [257]:
data["JOBRESULT"]=data["JOBRESULT"].apply(lambda x: 1 if x != " FAIL" else 0)

In [258]:
dataSet = data[['max0', 'max1', 'max2', 'max3', 'max4', 'max5', 'max6',
       'max7', 'max8', 'max9', 'min0', 'min1', 'min2', 'min3', 'min4', 'min5',
       'min6', 'min7', 'min8', 'min9', 'new_sum', 'new_means', 'JOBRESULT']]

In [303]:
dataSet

,max0,max1,max2,max3,max4,max5,max6,max7,max8,max9,...,min3,min4,min5,min6,min7,min8,min9,new_sum,new_means,JOBRESULT
0,140.698,139.023,138.796,136.473,134.409,134.101,133.923,133.238,133.073,132.859,...,136.473,134.409,134.101,133.923,133.238,133.073,132.859,460326.650,109.082145,1
1,140.705,139.696,138.822,138.251,137.455,136.911,136.445,136.280,136.110,134.977,...,138.251,137.455,136.911,136.445,136.280,136.110,134.977,453542.329,107.474486,1
2,132.849,130.807,130.631,130.534,130.497,129.378,129.040,128.435,127.951,127.862,...,130.534,130.497,129.378,129.040,128.435,127.951,127.862,452823.397,107.304123,1
3,161.276,141.266,138.993,137.279,137.145,136.274,135.875,135.141,134.444,134.173,...,137.279,137.145,136.274,135.875,135.141,134.444,134.173,454109.897,107.608980,0
4,138.036,137.112,135.809,135.783,134.592,133.709,133.688,132.868,132.665,132.549,...,135.783,134.592,133.709,133.688,132.868,132.665,132.549,468455.325,111.008371,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,141.260,139.282,137.128,136.527,136.482,135.783,135.539,135.376,135.192,134.976,...,136.527,136.482,135.783,135.539,135.376,135.192,134.976,482252.200,114.277773,1
1550,139.952,137.743,136.053,135.912,135.637,135.250,135.118,135.090,133.409,133.404,...,135.912,135.637,135.250,135.118,135.090,133.409,133.404,474004.258,112.323284,1
1551,147.236,145.811,140.606,140.241,138.159,138.008,137.419,137.050,136.935,136.897,...,140.241,138.159,138.008,137.419,137.050,136.935,136.897,476563.122,112.929650,1
1552,136.782,135.027,133.899,133.685,133.667,133.472,133.167,132.614,131.813,131.652,...,133.685,133.667,133.472,133.167,132.614,131.813,131.652,462717.277,109.648644,1
1553,142.164,142.044,141.980,140.793,139.971,139.882,138.558,138.456,138.222,135.920,...,140.793,139.971,139.882,138.558,138.456,138.222,135.920,475305.311,112.631590,1

#### 使用逻辑回归进行质检

In [310]:
from sklearn.linear_model import LinearRegression
X = dataSet.drop(["JOBRESULT"], axis=1)
y = dataSet[['JOBRESULT']]
X_train, X_test, y_train, y_test = train_test_split(
      X, y, test_size=0.2,random_state=1)
lr = LinearRegression()
lr.fit(X_train, y_train)
print('Slope: ',lr.coef_)
print('Intercept: ',lr.intercept_)

Slope:  [[-9.00322226e-04 -4.45640296e-04  1.46266308e-03 -3.42295746e-03
   5.34840413e-03  1.85371986e-03 -1.40963132e-02  8.91204102e-03
   5.45703219e-03 -4.60117404e-03 -9.00322226e-04 -4.45640296e-04
   1.46266308e-03 -3.42295746e-03  5.34840413e-03  1.85371986e-03
  -1.40963132e-02  8.91204102e-03  5.45703219e-03 -4.60117404e-03
   1.02192897e-07  2.42163115e-11]]
Intercept:  [1.07207989]

In [311]:
from sklearn import metrics
print("Explained Variance Score: ", 
    metrics.explained_variance_score(y_test, y_pred))
print('Mean Absolute Error:', 
    metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', 
    metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', 
    np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Explained Variance Score:  -0.006766951478621053
Mean Absolute Error: 0.1379101816864259
Mean Squared Error: 0.02428770355642032
Root Mean Squared Error: 0.15584512682923493

#### 使用xgboost进行逻辑质检

In [312]:
x = dataSet.drop(["JOBRESULT"], axis=1)
y = dataSet[['JOBRESULT']]
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2, random_state = 0)

In [313]:
dtrain = xgb.DMatrix(x_train, label=y_train)
dtest = xgb.DMatrix(x_test, label=y_test)

from sklearn.metrics import roc_auc_score,roc_curve,auc
param = {'n_estimators': 500,
         'max_depth': 4, 
         'min_child_weight': 3,
         'gamma':0.3,
         'subsample': 0.8,
         'colsample_bytree': 0.8,  
         'eta': 0.125,
         'silent': 1, 
         'objective': 'binary:logistic',
         'eval_metric':'auc',
         'nthread':16
        }
evallist = [(dtrain, 'train'),(dtest,'test')]
bst = xgb.train(param, dtrain, 500,evallist, early_stopping_rounds=10)


##使用测试集，评估模型
x_test_DMatrix = xgb.DMatrix(x_test)
y_pred = bst.predict(x_test_DMatrix)

## 调用ROC-AUC函数，计算其AUC值
roc_auc_score(y_test,y_pred)

[16:48:49] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.2.0\src\learner.cc:516:
Parameters: { n_estimators, silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	train-auc:0.50000	test-auc:0.50000
Multiple eval metrics have been passed: 'test-auc' will be used for early stopping.

Will train until test-auc hasn't improved in 10 rounds.
[1]	train-auc:0.50000	test-auc:0.50000
[2]	train-auc:0.50000	test-auc:0.50000
[3]	train-auc:0.57123	test-auc:0.49194
[4]	train-auc:0.57123	test-auc:0.49194
[5]	train-auc:0.57123	test-auc:0.49194
[6]	train-auc:0.57123	test-auc:0.49194
[7]	train-auc:0.57123	test-auc:0.49194
[8]	train-auc:0.57123	test-auc:0.49194
[9]	train-auc:0.57123	test-auc:0.49194
[10]	train-auc:0.56676	test-auc:0.48387
Stopping. Best iteration:
[0]	train-auc:0.50000	test-auc:0.50000

0.4838709677419355

In [318]:
x_test_DMatrix = xgb.DMatrix(x)
y_pred = bst.predict(x_test_DMatrix)

In [319]:
len(y_pred)

1554

In [323]:
# plt.plot(range(len(y_pred)),y_pred)